@page
@model ScriptureJournal.Pages.Scriptures.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form class="form-inline">
    <span>
        Search: <input type="text" asp-for="SearchString" class="form-control" />
        <input type="submit" value="Filter" class="btn btn-primary" />
    </span>
    <span class="ml-3">
        Sort:
        <select class="form-control" asp-for="SortString">
            <option value="CreatedAt">Created Date</option>
            <option value="Book">Book</option>
        </select>
        <input type="submit" value="Sort" class="btn btn-primary" />
    </span>

</form>
<br />

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Scripture[0].Book)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Scripture[0].Chapter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Scripture[0].Verse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Scripture[0].Notes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Scripture[0].CreatedAt)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Scripture)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Chapter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Verse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>